body{
    background-color: #304a7d;
}



/* homepage */
.container {
	display: grid;
    gap: 60px 100px;
	grid-template-columns: 1fr 1fr 300px 1fr 1fr;
	grid-template-rows: 1fr 1fr 100px 1fr 1fr;
    margin: 10px 40px;
    padding: 120px 0px;
    text-align: center;
    align-items: center;
    font-size: 4vh;
}

.left {
    grid-column: 2;
    grid-row: 3;
}

.right {
    grid-column: 4;
    grid-row: 3;
}

.top {
    grid-column: 3;
    grid-row: 2;
}

.bottom {
    grid-column: 3;
    grid-row: 4;
}



/* list */
ul {
    list-style: none;
}



/* navbar */
.navbar {
    display: flex;
    justify-content: space-between;
    margin-top: 0%;
    padding: 10px 1%;

}

a { /*text color and hover*/
    text-decoration: none;
    color: #d7f8feba;
}

a:hover {
    color: #19a0c9; 
}


.title {
    font-size: 40px;
    margin-top: 0%;
    padding: 0px 0%;
}

nav ul {
  display: flex;
  justify-content: space-between;
  width: 40%;
}



/* writing */
p {
    padding: 5vh 20%;
}

script {
    display: flex;
    justify-content: center;
    align-items: center;
}



/* not yet */
.no {
    text-align: center;
    align-items: center;
    justify-content: center;
    font-size: 30vh;
}